<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
        </script>

    <link rel="stylesheet" href="./css/detail.css">

    <style>
      body {
        font-family: 'Poppins';
      }
    </style>
</head>

<body style="display: flex; justify-content: center;">
  <div class="content">
    <div style="margin-top: 10px;">
      <p style="font-size: 20px;">Tiledesk <b>App Store</b></p>
    </div>

    <hr style="margin-top: 10px; margin-bottom: 10px">

    <div class="installation-info-box">
      <p style="margin: 0px; color: #676767; font-size: 13px;">You can install this application for free.</p>
    </div>


    <div class="icon-and-title" style="margin-top: 20px;">
      <div>
        <!--
        <img src="./images/mail-chat.png" width="100" height="auto"  />
        -->
         <img src="/img/logo_booking.png" width="100" height="auto"  />
      </div>

      <div style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 40px; width: 100%;">
        <div>
          <p style="font-size: 26px; font-weight: 500; margin-bottom: 0px;">Book your holiday with a bot</p>
          <p style="color: #676767; font-size: 16px; margin-bottom: 5px;">It allows the customer to book and pay for a room with a bot</p>
          <a style="font-size: 18px;" href="https://tiledesk.com/" target="_blank">Tiledesk</a>
          <p style="font-size: 15px; color: #676767; font-style: italic; margin-bottom: 0px; margin-top: 20px;">Free</p>
        </div>

        <div style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end;">




        </div>
      </div>
    </div>

    <hr style="margin-top: 20px; margin-bottom: 20px">

    <p style="font-size: 18px;"><b>Screenshot from the application</b></p>

    <div class="scrollmenu">
      <img src="/img/insertdata.png" class="screenshot" />
      <img src="/img/searchbb.png" class="screenshot" />
      <img src="/img/pay.png" class="screenshot" />    
      <img src="/img/payok.png" class="screenshot" />
    </div>

    <hr style="margin-top: 20px; margin-bottom: 20px">
    <div>
      <h7>The app allows you to book a room for your holidays and pay for it directly in the chat thanks to our bot.</h7>

      <ul style="margin-top: 10px; padding: 0px;">
        <div class="list-element">
          <img src="https://cdn-icons-png.flaticon.com/512/1443/1443000.png" width=20 height=20 style="margin-right: 10px;"/>
          <h7>Search for a room to go on holiday supported by our bot</h7>
        </div>
         <div class="list-element">
          <img src="https://cdn-icons-png.flaticon.com/512/1443/1443000.png" width=20 height=20 style="margin-right: 10px;"/>
          <h7>Book the room directly through our chat</h7>
        </div>
        <div class="list-element">
          <img src="https://cdn-icons-png.flaticon.com/512/1443/1443000.png" width=20 height=20 style="margin-right: 10px;"/>
          <h7>Pay for the room directly through our chat</h7>
        </div>
        <div class="list-element">
          <img src="https://cdn-icons-png.flaticon.com/512/1443/1443000.png" width=20 height=20 style="margin-right: 10px;"/>
          <h7>Cancel a reservation directly from the chat.</h7>
        </div>
      </ul>

      <div style="padding: 20px; background-color: aliceblue; border-radius: 8px;">
        <div style="display: flex; flex-direction: row; align-items: baseline;">
          <div>
            <img src="https://freeiconshop.com/wp-content/uploads/edd/arrow-flat.png" width="20px" height="auto" style="margin-right: 10px;"> 
             <a href="https://gethelp.tiledesk.com/articles/how-to-book-a-room/" target="_blank">How to book a room for your holidays</a>
          <p style="color: grey; margin-bottom: 0px;">A guide on how to configure the App Book your holiday with a our bot.</p>
          </div>
        </div>
      </div>
    </div>


    <hr style="margin-top: 20px; margin-bottom: 20px">

    <p style="font-size: 18px;"><b>What's new?</b></p>

    <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 15px;">
      <div>
        <p style="margin-bottom: 0px">Release of the first version of the application</p>
        <!--<p>Bug fixes and performance improvements</p>-->
      </div>
      <p style="font-size: 12px; color: #676767; margin-bottom: 0px;">Version <b>1.0.0</b></p>
    </div>
<div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 15px;">
      <div>
        <p style="margin-bottom: 0px">Bug fixes and performance improvements</p>
      </div>
      <p style="font-size: 12px; color: #676767; margin-bottom: 0px;">Version <b>1.0.1</b></p>
    </div>

    <hr style="margin-top: 50px; margin-bottom: 20px">

</body>
